// Colors

$black: #2E3440;
$blackish: #3B4252;
$gray: #434C5E;
$grayer: #434C5E;
$gray-light: #70728F;
$whitish: #ECEFF4;
$very-light-gray: #F9F9FB;
$white: #fff;
$green8: #008AA8;
$darkgray2: #70728F;

$green-taiga: #008AA8;
$fresh-taiga: #83EEDE;
$dark-taiga: #008AA8;
$dry-taiga: #008AA8;
$morning-taiga: #008AA8;
$dark-grayish-lime-green: #83EEDE;


$red-light: #FAD9DD;
$red: #E44057;

$orange: #EA7B4B;

$button-green: #83EEDE;
$button-green-hover: #008AA8;
$button-gray: #ECEFF4;
$button-gray-hover: #D8DEE9;

$postit: #fff8e4;
$postit-hover: #f1e8cd;
$postit-dark-hover: #e4d6ad;
