// Elements

// Blockquotes
blockquote,
blockquote p {
    color: $gray-light;
    font-style: italic;
    line-height: 36px;
    font-size: 28px;
}
blockquote {
    border-left: 1px solid $gray-light;
    margin: 0 0 20px;
    padding: 20px 20px 20px 19px;
    font-size: 32px;
    line-height: 40px;

    cite {
        @extend %small;
        color:$gray;
        display: block;
        &:before {
            content: '\2014 \0020';
        }
    }
}

// __Lists__

ul,
ol {
    margin-bottom: 20px;
}
ul { list-style: none outside; }
ol { list-style: decimal; }

li {
    line-height: 1.6;
}

.icon {
    vertical-align: middle;
}

// Background
%triangled-bg {
    background: url('../images/bg.png') no-repeat center center;
    background-size: cover;
}
