// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: .9rem;
    a {
        font-weight: inherit;
    }
}

// __Font Sizes__ //
%xsmall {font-size: .5rem;}
%small {font-size: .8rem;}
%medium {font-size: 1rem;}
%large {font-size: 1.3rem;}
%larger {font-size: 1.5rem;}
%xlarge {font-size: 2rem;}
%xxlarge {font-size: 3rem;}

// __Font Types__ //
%light {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
%text {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
%bold {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}
%taiga {font-family: 'taiga';}

h1 {
    @extend %xxlarge;
    line-height: 2.4rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

h2 {
    @extend %xlarge;
    line-height: 2.4rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

h3 {
    @extend %larger;
    @extend %bold;
    margin-bottom: 1rem;
}

h4 {
    @extend %large;
    @extend %bold;
    margin-bottom: 1rem;
}

p {
    margin: 0 0 20px;
    line-height: 1.5rem;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    img {
        margin: 0;
    }
}

em { font-style: italic; }
strong {
    color: $blackish;
    font-weight: 500;
}

small {
    @extend %small;
}

figcaption {
    line-height: 1.1rem;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

hr {
    border: solid #ddd;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
    margin: 10px 0 30px;
}

// __Links__
a,
a:visited {
    color: $grayer;
    text-decoration: none;
    &:hover {
        @include transition (color .3s linear);
        color: $green-taiga;
    }
}
