[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = "==3.7.1"
Markdown = "==2.6.9"
beautifulsoup4 = "==4.6.0"

[dev-packages]

[requires]
python_version = "3.8"
