{% extends "base.html" %}

{% block title %}{{ article.title }} | {{ SITENAME }}{% endblock title %}

{% block head %}
{{ super() }}
{% for keyword in article.keywords %}
<meta name="keywords" contents="{{keyword}}" />
{% endfor %}

{% for description in article.description %}
<meta name="description" contents="{{description}}" />
{% endfor %}

{% for tag in article.tags %}
<meta name="tags" contents="{{tag}}" />
{% endfor %}

<!--  Facebook metadata   -->
<meta property="og:title" content="{{ article.title }}" />
<meta property="og:site_name" content="{{ SITENAME }}" />
<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />

{% endblock %}

{% block content %}
<section id="content" class="hentry single">
    <header>

        <h2 class="entry-title">
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
        </h2>
        {% import 'translations.html' as translations with context %}
        {{ translations.translations_for(article) }}
    </header>
    <div class="entry-content">
        {{ article.content }}
    </div><!-- /.entry-content -->
    {% include 'post-info.html' %}
    {% include 'share.html' %}
    <div class="comments">
        {% include 'disqus.html' %}
    </div>
</section>
{% endblock %}
