{% extends "index.html" %}

{% block extra_head %}
    {% if articles_page.number == 1 %}
        <meta name="description" contents="Author - {{author}}" />
    {% else %}
        <meta name="description" contents="Author - {{author}} - Page {{ articles_page.number }}" />
    {% endif %}
{% endblock %}

{% block title %}
    {% if articles_page.number == 1 %}
        {{ SITENAME }} - Articles by {{ author }}
    {% else %}
        {{ SITENAME }} - Articles by {{ author }} - Page {{ articles_page.number }}
    {% endif %}
{% endblock %}

{% block content_title %}
Articles by {{ author }}
{% endblock %}

