<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    <meta name="description" content="Free. Open Source. Powerful. Taiga is a project management platform for startups and agile developers & designers">
    <meta name="author" content="{{ AUTHOR }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
        <script src="{{ SITEURL }}/theme/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ SITEURL }}/theme/main.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    {% endblock head %}
</head>

<body id="index" class="home">

    <header id="banner" class="body">
        <h1>
            <a href="{{ SITEURL }}/">{{ SITENAME }}</a>
        </h1>
        <h2>
            {{ SITESUBTITLE }}
        </h2>
    </header><!-- /#banner -->

    <div class="wrapper">

        {% block content %}
        {% endblock %}

        <nav id="menu">
            {% if LINKS %}
            <ul class="nav nav-list">
                <li class="nav-header">
                    <h3>Links</h3>
                </li>

                {% for name, link in LINKS %}
                <li>
                    <a target="_blank" href="{{ link }}" title="{{ name }}">{{ name }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}

            {% if categories %}
            <ul class="nav nav-list">
                <li class="nav-header">
                    <h3>Categories</h3>
                </li>
                {% for cat, null in categories %}
                <li>
                    <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}

            {% if SOCIAL %}
            <ul class="social">
                <li class="nav-header">
                    <h3>Social</h3>
                </li>

                {% for name, link in SOCIAL %}
                <li>
                    <a target="_blank" href="{{ link }}" title="{{ name }}">{{ name }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}

        </nav><!-- /#menu -->
    </div><!-- /#wrapper -->

    <footer id="contentinfo" class="body">
        <address id="about" class="vcard body">
            Proudly powered by <a href="http://getpelican.com/">Pelican</a>,
            which takes great advantage of <a href="http://python.org">Python</a>.
        </address><!-- /#about -->
    </footer><!-- /#contentinfo -->
</body>
</html>
