<div class="cookies">
    <div class="wrapper">
        <div class="text">
            <p class="title">
                Our site uses cookies, which our Oompa Loompas munch on to keep our site running.
            </p>
            <p>
                Normally, cookies are used to advertise all sorts of services, and to analyze your browsing habits.
                We don't use them for any advertising related matters. But we do use them in conjunction with
                Google Analytics to better understand how users interact with our site, Hence the munching.
                Lawyers whom we can't yet afford would probably require that we tell you that if you continue
                browsing you consent to the way we use the cookies. For more exciting information about our Cookie Policy,
                <a target="_blank" href="{{ PRIVACY_POLICY_URL }}">click here</a>.
            </p>
        </div>
        <i class="fa fa-times"></i>
    </div>
</div><!-- /#cookies -->
