{% extends "base.html" %}

{#
{% block content_title %}
All articles
{% endblock %}
#}

{% block content %}
<section class="post-list">
    {% for article in articles_page.object_list %}
    <article class="hentry">
        <header>
            <h2 class="entry-title">
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
            </h2>
        </header>
        <div class="entry-content">
            {{ article.summary }}
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Read {{ article.title|striptags }}">[Continue reading →]</a>
        </div><!-- /.entry-content -->
        {% include 'post-info.html' %}
    </article>
    {% endfor %}

    {% include 'pagination.html' %}

</section><!-- /#content -->
{% endblock content %}
