{% extends "base.html" %}

{#
{% block content_title %}
All articles
{% endblock %}
#}

{% block content %}
<section class="post-list">
    {% for article in articles_page.object_list %}
    <article class="hentry">
        <header>
            <h1 class="entry-title">
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
            </h1>
        </header>
        <footer class="post-info">
            <abbr class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </abbr>
        </footer><!-- /.post-info -->
        <div class="entry-content">
            {{ article.summary }}
        </div><!-- /.entry-content -->
    </article>
    {% endfor %}

    {% include 'pagination.html' %}

</section><!-- /#content -->
{% endblock content %}
