<div class="share">
    <div class="twitter">
        <a class="twitter-share-button"
           href="https://twitter.com/share"
           data-url="https://dev.twitter.com/web/tweet-button"
           data-via="taigaio"
           data-text="{{ article.title }}"
           data-count="vertical">
            Tweet
        </a>
        <script type="text/javascript">
            window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
        </script>
    </div>
    <div class="facebook">
        <div id="fb-root"></div>
        <script>
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&appId=242650819104017&version=v2.0";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <div class="fb-share-button" data-href="{{ article.url }}" data-layout="box_count"></div>
    </div>
    <div class="gplus">
        <!-- Place this tag in your head or just before your close body tag. -->
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <!-- Place this tag where you want the share button to render. -->
        <div class="g-plus" data-action="share" data-annotation="vertical-bubble" data-height="60"></div>
    </div>
    <div class="linkedin">
        <script src="//platform.linkedin.com/in.js" type="text/javascript">
            lang: en_US
        </script>
        <script type="IN/Share" data-counter="top"></script>
    </div>
</div>
