.hentry {
    &.single {
        .post-info {
            .author {
                bottom: 0;
            }
        }
        .comments {
            margin-top: 1rem;
        }
    }
    h1 {
        margin-bottom: .5rem;
        a {
            @extend %text;
            color: $dry-taiga;
            font-size: 2.3rem;
            &:hover {
                @include transition(color .3s ease-in);
                color: $gray;
            }
        }
    }
    .entry-content {
        color: $blackish;
        @extend %text;
        p {
            line-height: 1.8rem;
        }
    }
    .post-info {
        @extend %small;
        color: $gray-light;
        margin-bottom: .5rem;
    }
    h2 {
        @extend %large;
        @extend %bold;
        margin-bottom: .5rem;
        text-transform: uppercase;
    }
    h3 {
        @extend %bold;
        text-transform: uppercase;
    }
    ul,
    ol {
        list-style-position: inside;
        margin-left: 1rem;
    }
    ul {
        list-style-type: disc;
    }
    dl {
        dt {
            font-size: 1em;
            font-style: italic;
            font-weight: bold;
            margin-top: 16px;
            padding: 0;
        }
        dd {
            margin-bottom: 16px;
            padding: 0 16px;
        }
    }
    a {
        color: $green-taiga;
        &:hover {
            color: $fresh-taiga;
        }
    }
    p {
        margin-bottom: 1rem;
    }
    pre,
    code {
        @extend %small;
        background: $whitish;
        direction: ltr;
        font-family: 'courier new', 'monospace';
        margin-bottom: 1rem;
        unicode-bidi: embed;
        white-space: pre;
    }
    pre {
        line-height: 135%;
        padding: .5rem;
    }
    table {
        border: $gray-light 1px solid;
        margin-bottom: 1rem;
        tbody {
            tr:last-child {
                border-bottom: 0;
            }
        }
    }
    tr {
        border-bottom: $gray-light 1px solid;

    }
    th {
        border-right: $gray-light 1px solid;
        padding: 1rem 1rem 1rem .5rem;
        &:last-child {
            border-right: 0;
        }
    }
    td {
        border-right: $gray-light 1px solid;
        padding: .5rem;
        &:last-child {
            border-right: 0;
        }
    }
    img {
        max-width: 100%;
    }
}
