.pagination{
    margin-top: 20px;
    ul{
        list-style: none;
        margin: 0;
        overflow: hidden;
        padding: 0;
        width: 100%;
        li{
            display: block;
            float: left;
            padding: .5rem 1rem;
            font-size: 1em;
            text-align: center;
            background-color: $very-light-gray;
            &:hover:not(.disabled, .active) {
                background-color: $whitish;
            }
        }
        .prev, .next{
            display: block;
            min-width: 25%;
        }
        .disabled{
            color: $black;
            opacity: .2;
        }
        .active{
            background-color: $morning-taiga;
            a,
            a:hover {
                color: $white;
            }
        }
    }
}
