body,
html {
    @extend %text;
    @extend %medium;
}

.wrapper {
    padding: 0 4%;
    width: 100%;
}

@media (min-width: 960px) {
    .wrapper {
        margin: 0 auto;
        width: 960px;
    }
    .content {
        @include table-flex();
    }
    .main {
        @include table-flex-child(3, 500px, 0);
        margin-right: 2rem;
    }
    .nav {
        @include table-flex-child(1, 100px, 0);
    }
}
