* {
  box-sizing: border-box; }

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ''; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #050505;
  font-weight: normal; }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    font-weight: inherit; }

blockquote cite {
  font-size: .8rem; }

h2 {
  font-size: 2rem; }

h1 {
  font-size: 3rem; }

h1, h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

h1 {
  line-height: 3.4rem;
  margin-bottom: 1rem;
  text-transform: uppercase; }

h2 {
  margin-bottom: 1rem; }

p {
  margin: 0 0 20px; }
  p img {
    margin: 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
  margin: 10px 0 30px; }

a,
a:visited {
  color: #444444;
  text-decoration: none; }
  a:hover,
  a:visited:hover {
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
    transition: color 0.3s linear;
    color: #72a114; }

blockquote,
blockquote p {
  color: #777;
  font-style: italic;
  line-height: 24px; }

blockquote {
  border-left: 1px solid #ddd;
  margin: 0 0 20px;
  padding: 9px 20px 0 19px; }
  blockquote cite {
    color: #555;
    display: block; }
    blockquote cite:before {
      content: '\2014 \0020'; }

ul,
ol {
  margin-bottom: 20px; }

ul {
  list-style: none outside; }

ol {
  list-style: decimal; }

.icon {
  vertical-align: middle; }
