* {
  box-sizing: border-box; }

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ''; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #050505;
  font-weight: normal; }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    font-weight: inherit; }

blockquote cite, .hentry .post-info, .hentry pre,
.hentry code {
  font-size: .8rem; }

body,
html {
  font-size: 1.1rem; }

h3, .hentry h2 {
  font-size: 1.2rem; }

h2 {
  font-size: 2rem; }

h1, .header .title {
  font-size: 3rem; }

h1, .header .title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

body,
html, .hentry h1 a, .hentry .entry-content {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

.hentry h2, .hentry h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700; }

h1 {
  line-height: 3.4rem;
  margin-bottom: 1rem;
  text-transform: uppercase; }

h2 {
  margin-bottom: 1rem; }

h3 {
  margin-bottom: 1rem; }

p {
  margin: 0 0 20px;
  line-height: 1.5rem;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }
  p img {
    margin: 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
  margin: 10px 0 30px; }

a,
a:visited {
  color: #444444;
  text-decoration: none; }
  a:hover,
  a:visited:hover {
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
    transition: color 0.3s linear;
    color: #72a114; }

blockquote,
blockquote p {
  color: #777;
  font-style: italic;
  line-height: 24px; }

blockquote {
  border-left: 1px solid #ddd;
  margin: 0 0 20px;
  padding: 9px 20px 0 19px; }
  blockquote cite {
    color: #555;
    display: block; }
    blockquote cite:before {
      content: '\2014 \0020'; }

ul,
ol {
  margin-bottom: 20px; }

ul {
  list-style: none outside; }

ol {
  list-style: decimal; }

.icon {
  vertical-align: middle; }

.header .bg {
  background: url("../images/bg.png") no-repeat center center;
  background-size: cover; }

.wrapper {
  padding: 0 4%;
  width: 100%; }

@media (min-width: 960px) {
  .wrapper {
    margin: 0 auto;
    padding: 0;
    width: 960px; }

  .content {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: stretch;
    -moz-align-content: stretch;
    align-content: stretch;
    -ms-flex-line-pack: stretch;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    box-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    -o-align-items: stretch;
    align-items: stretch;
    -ms-flex-align: stretch;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start; }

  .main {
    -webkit-box-flex: 3;
    -moz-box-flex: 3;
    box-flex: 3;
    -webkit-flex: 3;
    -moz-flex: 3;
    -ms-flex: 3;
    flex: 3;
    -webkit-flex-basis: 500px;
    -moz-flex-basis: 500px;
    flex-basis: 500px;
    -ms-flex-preferred-size: 500px;
    flex-shrink: 0;
    width: 500px;
    margin-right: 2rem; }

  .nav {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-basis: 120px;
    -moz-flex-basis: 120px;
    flex-basis: 120px;
    -ms-flex-preferred-size: 120px;
    flex-shrink: 0;
    width: 120px; } }
.header {
  margin-bottom: 2rem;
  padding: 0 0 2rem; }
  .header .bg {
    padding: .5rem;
    margin-bottom: 1rem; }
  .header .title {
    margin-bottom: 0;
    text-align: center; }
    .header .title a {
      color: #70a87d; }
  .header .logo {
    display: none; }

@media (min-width: 960px) {
  .header .wrapper {
    padding-left: 100px;
    position: relative; }
  .header .title a:hover {
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
    transition: color 0.3s linear;
    color: #72a114; }
  .header .logo {
    display: block;
    margin: 0 auto;
    width: 80px; } }
.nav {
  margin-top: .5rem;
  text-align: right; }
  .nav .about {
    display: none; }
  .nav ul {
    margin: 0;
    padding: 0;
    margin-bottom: 1.5rem; }
  .nav li {
    margin-bottom: .5rem; }
  .nav .nav-header {
    margin-bottom: .3rem; }
  .nav h3 {
    color: #70a87d;
    margin-bottom: 0; }

@media (min-width: 960px) {
  .nav .about {
    display: block;
    font-size: 1.3rem;
    color: #b8b8b8;
    margin-bottom: 2rem; } }
.footer {
  background: #fcfcfc;
  padding: 1rem 0; }

.post-info {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: stretch;
  -moz-align-content: stretch;
  align-content: stretch;
  -ms-flex-line-pack: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start; }
  .post-info .author {
    margin-top: 1rem; }
    .post-info .author .gravatar {
      display: inline-block;
      margin-left: .5rem;
      width: 40px; }
    .post-info .author img {
      border-radius: 8%;
      vertical-align: middle;
      width: 100%; }

@media (min-width: 960px) {
  .post-info {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: stretch;
    -moz-align-content: stretch;
    align-content: stretch;
    -ms-flex-line-pack: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: end; }
    .post-info .author {
      bottom: 22px;
      margin-top: 0;
      position: relative; } }
.post-list article {
  margin-bottom: 2rem; }

.hentry.single .post-info .author {
  bottom: 0; }
.hentry.single .comments {
  margin-top: 1rem; }
.hentry h1 {
  margin-bottom: .5rem; }
  .hentry h1 a {
    color: #70a87d;
    font-size: 2.3rem; }
    .hentry h1 a:hover {
      -webkit-transition: color 0.3s ease-in;
      -moz-transition: color 0.3s ease-in;
      transition: color 0.3s ease-in;
      color: #555555; }
.hentry .entry-content {
  color: #050505; }
  .hentry .entry-content p {
    line-height: 1.8rem; }
.hentry .post-info {
  color: #b8b8b8;
  margin-bottom: .5rem; }
.hentry h2 {
  margin-bottom: .5rem;
  text-transform: uppercase; }
.hentry h3 {
  text-transform: uppercase; }
.hentry ul,
.hentry ol {
  list-style-position: inside;
  margin-left: 1rem; }
.hentry ul {
  list-style-type: disc; }
.hentry dl dt {
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  margin-top: 16px;
  padding: 0; }
.hentry dl dd {
  margin-bottom: 16px;
  padding: 0 16px; }
.hentry a {
  color: #72a114; }
  .hentry a:hover {
    color: #9dce0a; }
.hentry p {
  margin-bottom: 1rem; }
.hentry pre,
.hentry code {
  background: whitesmoke;
  direction: ltr;
  font-family: 'courier new', 'monospace';
  margin-bottom: 1rem;
  unicode-bidi: embed;
  white-space: pre; }
.hentry pre {
  line-height: 135%;
  padding: .5rem; }
.hentry table {
  border: #b8b8b8 1px solid;
  margin-bottom: 1rem; }
  .hentry table tbody tr:last-child {
    border-bottom: 0; }
.hentry tr {
  border-bottom: #b8b8b8 1px solid; }
.hentry th {
  border-right: #b8b8b8 1px solid;
  padding: 1rem 1rem 1rem .5rem; }
  .hentry th:last-child {
    border-right: 0; }
.hentry td {
  border-right: #b8b8b8 1px solid;
  padding: .5rem; }
  .hentry td:last-child {
    border-right: 0; }
.hentry img {
  max-width: 100%; }

.pagination {
  margin-top: 20px; }
  .pagination ul {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%; }
    .pagination ul li {
      display: block;
      float: left;
      padding: 10px 5px;
      font-size: 1em;
      text-align: center;
      background-color: whitesmoke; }
    .pagination ul .prev, .pagination ul .next {
      display: block;
      min-width: 25%; }
    .pagination ul .disabled {
      color: #000;
      opacity: .2; }
    .pagination ul .active {
      background-color: #7ab987; }
      .pagination ul .active a,
      .pagination ul .active a:hover {
        color: white; }
