.cookies {
    background-color: rgba($white, .9);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 90;
    .wrapper {
        padding: 1rem;
        width: 100%;
    }
    p {
        @extend %small;
        margin: 0;
    }
    .title {
        @extend %large;
        color: $green-taiga;
        font-weight: 800;
        padding: 0;
        margin: 0 0 .5rem;
    }
    .fa {
        @include transition(color .3s);
        color: $darkgray2;
        font-size: 22px;
        position: absolute;
        right: 1rem;
        top: 1rem;
        &:hover {
            color: $red;
            cursor: pointer;
        }
    }
    a {
        color: $black;
    }
}

@media (min-width: 960px) {
    .cookies {
        .wrapper {
            @include display(flex);
            @include align-items(center);
            padding: .3rem 10%;
            position: relative;
            width: 100%;
            &:before {
                @include flex-shrink(0);
                background: url('../images/cookie.png') center left;
                background-size: 100%;
                content: '';
                height: 75px;
                width: 75px;
            }
        }
        .text {
            padding-left: 20px;
        }
    }
}
