.header {
    @extend %triangled-bg;
    margin-bottom: 2rem;
    padding: 1rem 0;
    .title {
        @extend %title;
        @extend %xxlarge;
        margin-bottom: 0;
        text-align: center;
        a {
            color: $white;
        }
    }
    .tagline {
        color: $white;
        display: block;
        font-size: 1rem;
        margin-bottom: 0;
        text-align: center;
    }
    .logo {
        display: none;
    }
}

@media (min-width: 960px) {
    .header {
        .wrapper {
            padding-left: 100px;
            position: relative;
        }
        .title {
            a {
                &:hover {
                    @include transition(color .3s linear);
                    color: $dark-taiga;
                }
            }
        }
        .title,
        .tagline {
            text-align: left;
        }
        .logo {
            display: block;
            position: absolute;
            top: 0;
            left: 0px;
            width: 80px;
        }
    }
}
